{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <h3 class="p-2 text-info bg-white text-center">Se connecter</h1>
<form method="post" class='p-4'>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-white">
            Vous êtes connecté en tant que {{ app.user.username }}, <a class='btn btn-danger' href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <label class='text-white text-center' for="inputEmail">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control  text-center" autocomplete="email" required autofocus>
    <br>
    <label class='text-white text-center' for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control  text-center" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <br>
    <div class="checkbox mb-3 text-white text-right">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>
    <div class='text-center'>
        <bouton class="btn btn-lg btn-info text-white" type="submit">Se connecter</bouton>
    </div>
</form>
{% endblock %}
