 <div class="row bg-dark text-light sticky">
    <div class="col-12 col-xs-12 col-md-6 col-lg-6">
        <a href='{{ path('home') }}' class='btn text-white'>&copy 2022 - Bien-Être</a>Crée par <a class='text-info' href='https://martin.lechene.be/'> Martin Lechêne</a>
    </div>
    <div class="col-12 col-xs-12 col-md-6 col-lg-6 d-flex justify-content-center">
        <a  class='text-white p-3 m-2 d-inline' href="{{path('home')}} ">Home</a>
        <a  class='text-white p-3 m-2 d-inline' href="{{path('contact')}}">Contactez-nous</a>
        <a  class='text-white p-3 m-2 d-inline' href="{{path('about')}}">A propos</a>
    </div>
</div>
