
    {% for slider in sliders %}
      <div class="text-center">
            <img class="card-img-top" src="{{ slider.urlImg }}" alt="{{ slider.descript }}">
            {# <quote class='text-white'>{{ slider.descript }}</quote> #}
      </div>
    {% endfor %}
