    {% for slider in sliders %}
      <div class="text-center">
            <img class="img-responsive" height="200px" width="100%" src="{{ slider.urlImg }}" alt="{#{ slider.descript }#}">
            <quote class='text-white'>{#{ slider.descript }#}</quote>
      </div>
    {% endfor %}
