    {% for slider in sliders %}
      <div class="text-center">
            <img class="img-responsive p-1 border border-info border-2" src="{{ slider.urlImg }}" alt="{#{ slider.descript }#}">
            <quote class='text-white'>{#{ slider.descript }#}</quote>
      </div>
    {% endfor %}
