{% block body %}

<h2 class="text-center text-info">Recherche</h2>
{{ render(controller(
    'App\\Controller\\SearchController::searchBar2'
)) }}
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        $("select").formSelect();
    });
    
</script>
{% endblock %}