{% extends 'base.html.twig' %}

{% block title %}New Prestataires{% endblock %}

{% block body %}
    <h1>Create new Prestataires</h1>

    {{ include('prestataires/_form.html.twig') }}

    <a class='btn btn-outline-warning' href="{{ path('prestataires_index') }}">back to list</a>
{% endblock %}
