<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Annuaire de Bien-Être{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('css/app.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            {% include 'components/head/header.html.twig' %}
        </header>
        {% endblock %} 
        {% if app.environment == "dev" %}
            {% if not app.user %}
            <div class="alert alert-warning p-3"><b>Attention :</b> Vous n'êtes pas connecter actuellement !</div>
            {% else %}
                {% if is_granted('ROLE_ADMIN')  %}
            <div class="alert alert-success p-3"><b>Féliciation !</b> Vous êtes connecter en tant qu'administrateur !</div>
                {% elseif is_granted('ROLE_USER') %}
            <div class="alert alert-info pt-2"><i class='fas fa-info p-3 m-3 bg-light'></i>
                    {% if is_granted('ROLE_PRESTATAIRE') %}
                   <p>Vous êtes un prestataires !</p>
                    {% endif %}
                    {% if is_granted('ROLE_INTERNAUTE') %}
                    <p>Vous êtes un internaute !</p>
                    {% endif %}
            </div>
                {% else %}
            <div class="alert alert-info p-3">
                Vous ne possédez pas les rôles adéquoi. Contacter un administrateur en cas d'erreur.
            </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if app.user %}
            <div class="alert alert-info"><b>Attention !</b> Vous n'êtes plus dans l'environement de dev !</div>
            {% endif %}
        {% endif %}
        <main class="mx-auto container">
            <div class="row">
                {% block aside %}
                <div class="col-12 col-xs-12 col-md-12 col-lg-2 col-xl-3 bg-light">
                    {% include 'components/body/aside.html.twig' %}
                </div>
                {% endblock %}
                <div class="col-12 col-xs-12 col-md-12 col-lg-10 col-xl-9  bg-dark">
                    <div class="card-header bg-dark">
                        {% include 'components/body/slider.html.twig' %}
                    </div>
                    <div class="card-body">
                    {% block body %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer>
            {% include 'components/footer/footer.html.twig' %}
        </footer>
    </body>
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/34fc05a1ac.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{asset('script/app.js')}}"></script>
    {% endblock %}
</html>
