{% extends 'base.html.twig' %}

{% block title %}Edit Prestataire{% endblock %}

{% block body %}
    <h1>Edit Prestataire</h1>

    {{ include('prestataires/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-warning' href="{{ path('prestataires_index') }}">back to list</a>

    {{ include('prestataires/_delete_form.html.twig') }}
{% endblock %}
